.meettheteam {
	background: #cccccc;
	width: 936px;

	.display {
		background: #ffffff;
		border: 9px solid #efefef;
		display: inline-block;
		height: 376px;
		width: 527px;
	}
	.photos {
		display: inline-block;
		height: 398px;
		margin: 0;
		width: 387px;
		vertical-align: top;
		.photo {
			background: #ffffff;

			display: inline-block;
			height: 110px;
			width: 113px;

			position: relative;
		}
		.row2 {
			margin: 28px 0 28px 0;
		}
		.col2 {
			margin-left: 12px;
			margin-right: 13px;
		}
		.col1 {
			margin-left: 10px;
		}
	}
}